*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.card{
    width: 350px;
    padding: 20px;
    background-color: #eee;
    margin: 20px auto;
    border-radius: 8px;
}
.card .c-file{
    background-color: #bbb;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card .c-input{
    background-color: #bbb;
    border-radius: 8px;
    padding: 20px;
}
.card .c-input input{
    width: 90%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
}
.card .c-input button{
    width: 96%;
    height: 30px;
    border-radius: 4px;
}
table{
  margin: 10px auto;  
}
table th,td{
    border: 1px solid;
    padding: 6px 20px;
}
table tr td a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}
#image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black;
}
#up{
    background-color: rgb(190, 64, 64);
    color: white;
    cursor: pointer;
}
#del{
    background-color: rgb(64, 190, 98);
    color: white;
    cursor: pointer;
}
